@model CampViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Add Camp</h5>
            </div>
            <div class="card-body">
                <form class="app-form" method="post" enctype="multipart/form-data" id="addForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), "-- Select District --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), "-- Select Block --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CLFId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.CLFId, new List<SelectListItem>(), "-- Select CLF --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.PanchayatId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.PanchayatId, new List<SelectListItem>(), "-- Select Panchayat --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.VOName, new { @class = "form-label" })
                                @Html.EditorFor(m => m.VOName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CampDate, new { @class = "form-label" })
                                @Html.EditorFor(m => m.CampDate, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Location, new { @class = "form-label" })
                                @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CRPName, new { @class = "form-label" })
                                @Html.EditorFor(m => m.CRPName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CRPMobileNo, new { @class = "form-label" })
                                @Html.EditorFor(m => m.CRPMobileNo, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.ParticipantMobilized, new { @class = "form-label" })
                                @Html.EditorFor(m => m.ParticipantMobilized, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.TotalScreened, new { @class = "form-label" })
                                @Html.EditorFor(m => m.TotalScreened, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.TotalGlassesDistributed, new { @class = "form-label" })
                                @Html.EditorFor(m => m.TotalGlassesDistributed, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-end">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            GetJSDistricts("DistrictId");
            $("#DistrictId").change(function () {
                GetJSBlocks("BlockId", $(this).val());
                $('#BlockId').val();
            });
            $("#BlockId").change(function () {
                GetJSPanchayats("PanchayatId", $('#DistrictId').val(), $(this).val());
                GetJSFederations("CLFId", $('#DistrictId').val(), $(this).val());
                $('#PanchayatId').val(); $('#CLFId').val();
            });

            //Post sumbitted Data
            $('#btnSubmit').click(function () {
                var form = $('#addForm')[0];
                var formData = new FormData(form);
                $.ajax({
                    url: '/Camp/AddCamp',
                    type: 'POST',
                    data: formData,
                    processData: false, // Important for files
                    contentType: false, // Important for files
                    success: function (response) {
                        $('#responseMessage').html(
                            '<div class="alert alert-success">Camp added successfully!</div>'
                        );
                        $('#addCampForm')[0].reset();
                    },
                    error: function (xhr) {
                        $('#responseMessage').html(
                            '<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>'
                        );
                    }
                });
            });
        });
    </script>
}