@model GlassLP.Data.TblCamp

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblCamp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfModule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLFId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLFId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanchayatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanchayatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VOName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VOName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRPName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRPName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRPMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRPMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantMobilized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantMobilized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScreened)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScreened)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGlassesDistributed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGlassesDistributed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerOfGlassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerOfGlassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUploadPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUploadPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CampId_pk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
