@model VendorViewModel
<div class="row">
    <div class="col-12">
        <h4 class="main-title">Vision Entrepreneure</h4>
        <ul class="app-line-breadcrumbs mb-3">
            <li class="">
                <a class="f-s-14 f-w-500" href="">
                    <span>
                        Master
                    </span>
                </a>
            </li>
            <li class="">
                <a class="f-s-14 f-w-500" href="Vendors/Index">
                    <span>
                        Vision Entrepreneure
                    </span>
                </a>
            </li>
            <li class="active">
                <a class="f-s-14 f-w-500" href="#">Add Vision Entrepreneurs</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
           @*  <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Add Vision Entrepreneurs</h5>
            </div> *@
            <div class="card-body">
                <form class="app-form" method="post" enctype="multipart/form-data" id="addForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.BusinessMentorName, new { @class = "form-label required-star" })
                                @Html.EditorFor(m => m.BusinessMentorName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                                <div>@Html.ValidationMessageFor(m => m.BusinessMentorName, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.VEName, new { @class = "form-label required-star" })
                                @Html.EditorFor(m => m.VEName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                                <div>@Html.ValidationMessageFor(m => m.VEName, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.ContactNumber, new { @class = "form-label required-star" })
                                @Html.EditorFor(m => m.ContactNumber, new { htmlAttributes = new { @class = "numbersOnly required form-control", min = "10", @maxlength = "10" } })
                                <div>@Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CLFId, new { @class = "form-label required-star" })
                                @Html.DropDownListFor(m => m.CLFId, new List<SelectListItem>(), "--Select--", new { @class = "form-control" })
                                <div>@Html.ValidationMessageFor(m => m.CLFId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.AOPName, new { @class = "form-label required-star" })
                                @Html.EditorFor(m => m.AOPName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                                <div>@Html.ValidationMessageFor(m => m.AOPName, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.TotalSalesAmount, new { @class = "form-label required-star" })
                                @Html.EditorFor(m => m.TotalSalesAmount, new { htmlAttributes = new { @class = "numbersOnly required form-control", @maxlength = "5" } })
                                <div>@Html.ValidationMessageFor(m => m.TotalSalesAmount, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-end">
                                <button class="btn btn-primary b-r-22" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            GetJSFederations("CLFId",0,0);
            // $("#DistrictId").change(function () {
            //     GetJSBlocks("BlockId", $(this).val());
            //     $('#BlockId').val();
            // });
            // $("#BlockId").change(function () {
            //     GetJSPanchayats("PanchayatId", $('#DistrictId').val(), $(this).val());
            //     GetJSFederations("CLFId", $('#DistrictId').val(), $(this).val());
            //     $('#PanchayatId').val(); $('#CLFId').val();
            // });

            //Post sumbitted Data
            $('#addForm').on('submit', function (e) {
                e.preventDefault(); // <- prevent normal form post
                var form = $('#addForm')[0];
                var formData = new FormData(form);
                if (!$('#addForm').valid()) {
                    return; // Invalid form, stop submission
                }
                $.ajax({
                    url: '/Vendors/Create',
                    type: 'POST',
                    data: formData,
                    processData: false, // Important for files
                    contentType: false, // Important for files
                    success: function (response) {
                        if (response.isSuccess === true) {
                            toastr.success(response.message);
                            $('#addForm')[0].reset();
                            //setTimeout(function () {
                                //if (confirm("Do you want to add Participant?") == true) {
                                    //window.location.href = "/ParticipantM1/Create?code=" + response.data.campCode;
                                //}
                            //}, 200);
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (xhr) {
                        $('#responseMessage').html(
                            '<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>'
                        );
                    }
                });
            });
        });
    </script>
}@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
