@model ParticipantM1ViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">@(Model != null && Model.ParticipantId_pk > 0 ? "Update Participant Module One" : "Add Participant Module One")</h5>
            </div>
            <div class="card-body">
                <form class="app-form" method="post" enctype="multipart/form-data" id="addForm">
                    @if (Model != null && Model.ParticipantId_pk > 0)
                    {
                        @Html.HiddenFor(m => m.ParticipantId_pk)
                    }
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CampId_fk, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.CampId_fk, new List<SelectListItem>(), "-- Select Camp --", new { @class = "required form-control" })
                                <div>@Html.ValidationMessageFor(m => m.CampId_fk, "", new { @class = "text-danger" })</div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.ParticipantName, new { @class = "form-label" })
                                @Html.EditorFor(m => m.ParticipantName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                                <div>@Html.ValidationMessageFor(m => m.ParticipantName, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.MobileNo, new { @class = "form-label" })
                                @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "numbersOnly required form-control", @maxlength = "10" } })
                                <div>@Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Age, new { @class = "form-label" })
                                @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "numbersOnly required form-control", @type="text", @maxlength = "2", @min = "35", @max = "59" } })
                                <div>@Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.SHGName, new { @class = "form-label" })
                                @Html.EditorFor(m => m.SHGName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                                <div>@Html.ValidationMessageFor(m => m.SHGName, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.OccupationId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.OccupationId, new List<SelectListItem>(), "-- Select Occupation --", new { @class = "form-control required" })
                                <div>@Html.ValidationMessageFor(m => m.OccupationId, "", new { @class = "text-danger" })</div>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Occupation_Others, new { @class = "form-label" })
                                @Html.EditorFor(m => m.Occupation_Others, new { htmlAttributes = new { @class = "required form-control", @disabled = "disabled", id = "Occupation_Others" , @maxlength = "100" } })
                                <div>@Html.ValidationMessageFor(m => m.Occupation_Others, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.TypeofVisionIssueId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.TypeofVisionIssueId, Model.VSIdList, null, new { @class = "required form-control" })
                                <div>@Html.ValidationMessageFor(m => m.TypeofVisionIssueId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4 div_TypeVissue" style="display:none;">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.TypeofVisionIssue_Others, new { @class = "form-label" })
                                @Html.EditorFor(m => m.TypeofVisionIssue_Others, new { htmlAttributes = new { @class = "required form-control", @maxlength = "100" } })
                                <div>@Html.ValidationMessageFor(m => m.TypeofVisionIssue_Others, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.PowerofGlassId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.PowerofGlassId, new List<SelectListItem>(),
                                         "Select", new { @class = "required form-control" })
                                <div>@Html.ValidationMessageFor(m => m.PowerofGlassId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.FeedbackonComfort, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.FeedbackonComfort, new List<SelectListItem>
                                {
                                new SelectListItem { Text = "Satisfied", Value = "1" },
                                new SelectListItem { Text = "Not Satisfied", Value = "2" },
                                new SelectListItem { Text = "Adjustment Needed", Value = "3" }
                                },
                                         "Select", new { @class = "required form-control" })
                                <div>@Html.ValidationMessageFor(m => m.FeedbackonComfort, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.VisionIssueIdentifiedId, new { @class = "form-label d-block" })

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "1", new { @class = "form-check-input", id = "VisionYes" })
                                    <label class="form-check-label" for="VisionYes">Yes</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "2", new { @class = "form-check-input", id = "VisionNo" })
                                    <label class="form-check-label" for="VisionNo">No</label>
                                </div>
                                <div>@Html.ValidationMessageFor(m => m.VisionIssueIdentifiedId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.GlassesProvidedId, new { @class = "form-label d-block" })
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.GlassesProvidedId, "1", new { @class = "form-check-input", id = "GlassesYes" })
                                    <label class="form-check-label" for="GlassesYes">Yes</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.GlassesProvidedId, "2", new { @class = "form-check-input", id = "GlassesNo" })
                                    <label class="form-check-label" for="GlassesNo">No</label>
                                </div>

                                <div>@Html.ValidationMessageFor(m => m.GlassesProvidedId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.FollowupRequiredId, new { @class = "form-label d-block" })
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.FollowupRequiredId, "1", new { @class = "form-check-input", id = "FollowupYes" })
                                    <label class="form-check-label" for="FollowupYes">Yes</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.FollowupRequiredId, "2", new { @class = "form-check-input", id = "FollowupNo" })
                                    <label class="form-check-label" for="FollowupNo">No</label>
                                </div>

                                <div>@Html.ValidationMessageFor(m => m.FollowupRequiredId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.DigitalConsentId, new { @class = "form-label d-block" })

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.DigitalConsentId, "1", new { @class = "form-check-input", id = "DigitalConsentYes" })
                                    <label class="form-check-label" for="DigitalConsentYes">Yes</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.DigitalConsentId, "2", new { @class = "form-check-input", id = "DigitalConsentNo" })
                                    <label class="form-check-label" for="DigitalConsentNo">No</label>
                                </div>

                                <div>@Html.ValidationMessageFor(m => m.DigitalConsentId, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Remarks, new { @class = "form-label" })
                                @Html.EditorFor(m => m.Remarks, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-end">
                                <button class="btn btn-primary b-r-22" type="submit">
                                    @(Model != null && Model.ParticipantId_pk > 0 ? "Update" : "Submit")
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            if (code) {
                GetCampCode("CampId_fk", code, 0, 0);
            }
            else {
                GetCampCode("CampId_fk", "", 1, 0);
            }

            GetOccupations("OccupationId");
            GetPowerofGlasses("PowerofGlassId");

            jQuery('.numbersOnly').keyup(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });

            // GetOccupations Disable
            function toggleOtherOccupation() {
                var selectedValue = $("#OccupationId").val();
                if (selectedValue == "6") {   // 999 = Other
                    $("#Occupation_Others").prop("disabled", false);
                } else {
                    $("#Occupation_Others").prop("disabled", true).val('');
                }
            }

            // run on dropdown change TypeofVisionIssueId
            $("#TypeofVisionIssueId").change(function () {
                var selectedValue = $(this).val(); $('.div_TypeVissue').hide();
                $("#TypeofVisionIssue_Others").val('');//.prop("disabled", true).val('');
                $("#TypeofVisionIssue_Others").removeAttr("required");//.prop("disabled", true).val('');
                if (selectedValue == "2") {   // 999 = Other
                    $('.div_TypeVissue').show();
                    $("#TypeofVisionIssue_Others").attr("required", 'required');//.prop("disabled", false);
                } 
            });
            // run on dropdown change
            $("#OccupationId").change(function () {
                toggleOtherOccupation();
            });

            // run on page load (important for Edit page)
            toggleOtherOccupation();


            //Post sumbitted Data
            $('#addForm').on('submit', function (e) {
                e.preventDefault();
                var form = $('#addForm')[0];
                var formData = new FormData(form);
                $.ajax({
                    url: '/ParticipantM1/Create',
                    type: 'POST',
                    data: formData,
                    processData: false, // Important for files
                    contentType: false, // Important for files

                    success: function (response) {
                        if (response.isSuccess === true) {
                            toastr.success(response.message);
                            
                            // Clear all form fields
                            $('#addForm')[0].reset();
                            
                            // Clear all text inputs
                            $('#addForm input[type="text"]').val('');
                            $('#addForm input[type="number"]').val('');
                            $('#addForm textarea').val('');
                            
                            // Reset all dropdowns to first option (empty/select option)
                            $('#addForm select').each(function() {
                                $(this).val($(this).find('option:first').val());
                            });
                            
                            // Uncheck all radio buttons
                            $('#addForm input[type="radio"]').prop('checked', false);
                            
                            // Clear hidden ParticipantId_pk field
                            $('#ParticipantId_pk').val('0');
                            
                            // Disable Occupation_Others if needed
                            $("#Occupation_Others").prop("disabled", true).val('');
                            
                            // Update header and button text back to "Add" mode
                            $('.card-header h5').text('Add Participant Module One');
                            $('button[type="submit"]').text('Submit');
                            
                            // Remove the hidden field if it exists
                            $('#ParticipantId_pk').remove();
                            
                            // Redirect to index page after a short delay
                            setTimeout(function() {
                                window.location.href = '/ParticipantM1/Index';
                            }, 1500);
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (xhr) {
                        $('#responseMessage').html(
                            '<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>'
                        );
                    }
                });
            });
        });

        // //if (Model != null && Model.ParticipantId_pk > 0)
            // {
            //     <text>
            //     // Store values to bind (edit mode)
            //     var campIdToBind = '@Model.CampId_fk';
            //     var occupationIdToBind = '@Model.OccupationId';
            //     var powerOfGlassIdToBind = '@Model.PowerofGlassId';
                
            //     // Function to bind form data after dropdowns load
            //     function bindFormData() {
            //         setTimeout(function() {
            //             // Bind Camp Code
            //             if (campIdToBind) {
            //                 var campIdStr = String(campIdToBind);
            //                 if ($("#CampId_fk option[value='" + campIdStr + "']").length > 0) {
            //                     $("#CampId_fk").val(campIdStr).trigger('change');
            //                 } else {
            //                     // Try number match
            //                     var campIdNum = parseInt(campIdToBind);
            //                     $("#CampId_fk option").each(function() {
            //                         if (parseInt($(this).val()) === campIdNum) {
            //                             $("#CampId_fk").val($(this).val()).trigger('change');
            //                             return false;
            //                         }
            //                     });
            //                 }
            //             }
                        
            //             // Bind Occupation
            //             if (occupationIdToBind) {
            //                 var occIdStr = String(occupationIdToBind);
            //                 if ($("#OccupationId option[value='" + occIdStr + "']").length > 0) {
            //                     $("#OccupationId").val(occIdStr).trigger('change');
            //                 }
            //             }
                        
            //             // Bind Power of Glass
            //             if (powerOfGlassIdToBind) {
            //                 var powIdStr = String(powerOfGlassIdToBind);
            //                 if ($("#PowerofGlassId option[value='" + powIdStr + "']").length > 0) {
            //                     $("#PowerofGlassId").val(powIdStr).trigger('change');
            //                 }
            //             }
                        
            //             // Set text field values
            //             $("#ParticipantName").val('@Html.Raw(Model.ParticipantName ?? "")');
            //             $("#MobileNo").val('@(Model.MobileNo ?? "")');
            //             $("#Age").val('@Model.Age');
            //             $("#SHGName").val('@Html.Raw(Model.SHGName ?? "")');
            //             $("#Occupation_Others").val('@Html.Raw(Model.Occupation_Others ?? "")');
            //             $("#Remarks").val('@Html.Raw(Model.Remarks ?? "")');
                        
            //             // Set radio button values
            //             $("input[name='VisionIssueIdentifiedId'][value='@Model.VisionIssueIdentifiedId']").prop('checked', true);
            //             $("input[name='GlassesProvidedId'][value='@Model.GlassesProvidedId']").prop('checked', true);
            //             $("input[name='FollowupRequiredId'][value='@Model.FollowupRequiredId']").prop('checked', true);
            //             $("input[name='DigitalConsentId'][value='@Model.DigitalConsentId']").prop('checked', true);
                        
            //             // Set dropdown values
            //             $("#TypeofVisionIssueId").val('@Model.TypeofVisionIssueId');
            //             $("#FeedbackonComfort").val('@Model.FeedbackonComfort');
                        
            //             // Trigger occupation toggle
            //             toggleOtherOccupation();
            //         }, 500);
            //     }
                
            //     // Track when dropdowns are loaded
            //     var loadedCount = 0;
            //     var totalDropdowns = 3;
                
            //     function checkAndBind() {
            //         loadedCount++;
            //         if (loadedCount === totalDropdowns) {
            //             bindFormData();
            //         }
            //     }
                
            //     // Set up event listeners
            //     $("#CampId_fk").on('campcode:loaded', checkAndBind);
            //     $("#OccupationId").on('occupations:loaded', checkAndBind);
            //     $("#PowerofGlassId").on('powerofglasses:loaded', checkAndBind);
                
            //     // Fallback check after 1.5 seconds
            //     setTimeout(function() {
            //         if (loadedCount < totalDropdowns) {
            //             if ($("#CampId_fk option").length > 1) loadedCount++;
            //             if ($("#OccupationId option").length > 1) loadedCount++;
            //             if ($("#PowerofGlassId option").length > 1) loadedCount++;
            //             if (loadedCount === totalDropdowns) {
            //                 bindFormData();
            //             }
            //         }
            //     }, 1500);
            //     </text>
            // }

    </script>
}