@model IEnumerable<GlassLP.Data.TblPaticipantM1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SHGName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SHGName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OccupationId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ParticipantId_pk">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ParticipantId_pk">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
