@model IEnumerable<GlassLP.DTO.ParticipantDTO>

@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<h5>Index</h5>
				<div class=""><a asp-action="Create" class="badge bg-danger-subtle bg-danger f-s-10 text-uppercase">Create New</a></div>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive app-scroll">
					<table class="table table-bottom-border table-lg align-middle">
						<thead>
							<tr class="app-sort">
								<th>
									@Html.DisplayNameFor(model => model.ParticipantName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.MobileNo)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Age)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.SHGName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.OccupatioName)
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.ParticipantName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.MobileNo)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Age)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.SHGName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.OccupatioName)
									</td>
									<td class="edit">
											@* <button class="btn edit-item-btn icon-btn btn-outline-success" asp-action="Create" asp-route-PId="@item.ParticipantId_pk">
										<i class="fa fa-edit"></i>
									</button> *@
										<a asp-action="Create"
										   asp-route-PId="@item.ParticipantId_pk"
										   class="btn edit-item-btn icon-btn btn-outline-info">
											<i class="fa fa-edit"></i>
										</a>
										<button class="btn edit-item-btn icon-btn btn-outline-success" asp-action="Details" asp-route-PId="@item.ParticipantId_pk">
											<i class="fa fa-eye"></i>
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>