@model ParticipantM2ViewModel
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex align-items-center">
				<h5 class="mb-0">Add Participant Module Two</h5>
			</div>
			<div class="card-body">
				<form class="app-form" method="post" enctype="multipart/form-data" id="addForm">
					<div class="row">
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.TypeofParticipantId, new { @class = "form-label d-block" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.TypeofParticipantId, 1, new { @class = "form-check-input", id = "New" })
									<label class="form-check-label" for="New">New</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.TypeofParticipantId, 2, new { @class = "form-check-input", id = "Repeat" })
									<label class="form-check-label" for="Repeat">Repeat Customers</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.TypeofParticipantId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Location, new { @class = "form-label d-block" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.Location, "1", new { @class = "form-check-input", id = "locationCamp" })
									<label class="form-check-label" for="locationCamp">Camp</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.Location, "2", new { @class = "form-check-input", id = "locationHome" })
									<label class="form-check-label" for="locationHome">Home Visit</label>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.CampId_fk, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.CampId_fk, new List<SelectListItem>(), "-- Select Camp --", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), "-- Select District --", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), "-- Select Block --", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.ParticipantName, new { @class = "form-label" })
								@Html.EditorFor(m => m.ParticipantName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.MobileNo, new { @class = "form-label" })
								@Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "numbersOnly required form-control", @maxlength = "10" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Age, new { @class = "form-label" })
								@Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "required form-control", @maxlength = "2" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.ScreeningDate, new { @class = "form-label" })
								@Html.EditorFor(m => m.ScreeningDate, new { htmlAttributes = new { @class = "datepicker required form-control", @type = "text", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.SHGName, new { @class = "form-label" })
								@Html.EditorFor(m => m.SHGName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.OccupationId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.OccupationId, new List<SelectListItem>(), "-- Select--", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.Occupation_Others, new { @class = "form-label" })
								@Html.EditorFor(m => m.Occupation_Others, new { htmlAttributes = new { @class = "required form-control", @disabled = "disabled", id = "Occupation_Others", @maxlength = "100" } })
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.TypeofVisionIssueId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.TypeofVisionIssueId, new List<SelectListItem>
								{
								new SelectListItem { Text = "pyesMyopia", Value = "1" },
								new SelectListItem { Text = "Other", Value = "2" }
								},
									"Select",
									new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.PowerofGlassId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.PowerofGlassId, new List<SelectListItem>(),
																	"Select", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.VisionIssueIdentifiedId, new { @class = "form-label d-block" })

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "1",
																		new { @class = "form-check-input", id = "VisionYes" })
									<label class="form-check-label" for="VisionYes">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "2",
																		new { @class = "form-check-input", id = "VisionNo" })
									<label class="form-check-label" for="VisionNo">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.VisionIssueIdentifiedId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.GlassesSold, new { @class = "form-label d-block" })

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.GlassesSold, "1",
										new { @class = "form-check-input", id = "GlassesYes" })
									<label class="form-check-label" for="GlassesYes">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.GlassesSold, "0",
										new { @class = "form-check-input", id = "GlassesNo" })
									<label class="form-check-label" for="GlassesNo">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.GlassesSold, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.FollowupRequiredId, new { @class = "form-label d-block" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.FollowupRequiredId, 1, new { @class = "form-check-input", id = "New" })
									<label class="form-check-label" for="New">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.FollowupRequiredId, 2, new { @class = "form-check-input", id = "Repeat" })
									<label class="form-check-label" for="Repeat">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.FollowupRequiredId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.DigitalConsentId, new { @class = "form-label d-block" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.DigitalConsentId, "1", new { @class = "form-check-input", id = "digitalConsentYes" })
									<label class="form-check-label" for="digitalConsentYes">Yes</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.DigitalConsentId, "2", new { @class = "form-check-input", id = "digitalConsentNo" })
									<label class="form-check-label" for="digitalConsentNo">No</label>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.FeedbackonComfort, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.FeedbackonComfort, new List<SelectListItem>
								{
								new SelectListItem { Text = "Satisfied", Value = "1" },
								new SelectListItem { Text = "Not Satisfied", Value = "2" },
								new SelectListItem { Text = "Adjustment Needed", Value = "3" }
								},
																	"Select", new { @class = "form-control" })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.Remarks, new { @class = "form-label" })
								@Html.EditorFor(m => m.Remarks, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.ScreeningCost, new { @class = "form-label" })
								@Html.EditorFor(m => m.ScreeningCost, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								@Html.LabelFor(m => m.GlassesCost, new { @class = "form-label" })
								@Html.EditorFor(m => m.GlassesCost, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-8">
							<div class="mb-3">
								@Html.LabelFor(m => m.RemarksActionTaken, new { @class = "form-label" })
								@Html.EditorFor(m => m.RemarksActionTaken, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						
						<div class="col-12">
							<div class="text-end">
								<button class="btn btn-primary b-r-22" type="submit">
									Submit
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			GetCampCode("CampId_fk");
			GetOccupations("OccupationId");
			GetPowerofGlasses("PowerofGlassId");

			jQuery('.numbersOnly').keyup(function () {
				this.value = this.value.replace(/[^0-9\.]/g, '');
			});

			GetJSDistricts("DistrictId");
			$("#DistrictId").change(function () {
				GetJSBlocks("BlockId", $(this).val());
				$('#BlockId').val();
			});

			//GetCampCode disable or enable
			function toggleCampDropdown() {
				let selectedValue = $("input[name='Camp']:checked").val();

				if (selectedValue == "1") {
					// Camp selected
					$("#CampId_fk").prop("disabled", false);
				} else {
					// Home Visit
					$("#CampId_fk").prop("disabled", true);
					$("#CampId_fk").val("");  // clear value if disable
				}
			}

			// On page load
			toggleCampDropdown();

			// On change
			$("input[name='Camp']").change(function () {
				toggleCampDropdown();
			});
		});

			// GetOccupations Disable
			function toggleOtherOccupation() {
				var selectedValue = $("#OccupationId").val();

				if (selectedValue == "6") {   // 999 = Other
					$("#Occupation_Others").prop("disabled", false);
				} else {
					$("#Occupation_Others").prop("disabled", true).val('');
				}
			}

			// run on dropdown change
			$("#OccupationId").change(function () {
				toggleOtherOccupation();
			});

			// run on page load (important for Edit page)
			toggleOtherOccupation();



			//Post sumbitted Data
			$('#addForm').on('submit', function (e) {
				e.preventDefault(); // <- prevent normal form post
				var form = $('#addForm')[0];
				var formData = new FormData(form);
				$.ajax({
					url: '/ParticipantM2/Create',
					type: 'POST',
					data: formData,
					processData: false, // Important for files
					contentType: false, // Important for files
					success: function (response) {
						if (response.isSuccess === true) {
							toastr.success(response.message);
							$('#addForm')[0].reset();
							//setTimeout(function () {
							//if (confirm("Do you want to add Participant?") == true) {
							//window.location.href = "/ParticipantM1/Create?code=" + response.data.campCode;
							//}
							//}, 200);
						} else {
							toastr.error(response.message);
						}
					},
					error: function (xhr) {
						$('#responseMessage').html(
							'<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>'
						);
					}
				});
			});
		});
	</script>
}