@model ParticipantM2ViewModel
<div class="row">
	<div class="col-12">
		<h4 class="main-title">Participant Module Two</h4>
		<ul class="app-line-breadcrumbs mb-3">
			<li class="">
				<a class="f-s-14 f-w-500" href="">
					<span>
						Forms
					</span>
				</a>
			</li>
			<li class="">
				<a class="f-s-14 f-w-500" href="ParticipantM2/Index">
					<span>
						Participant Module Two
					</span>
				</a>
			</li>
			<li class="active">
				<a class="f-s-14 f-w-500" href="#">@(Model != null && Model.ParticipantId_pk > 0 ? "Update Participant Module Two" : "Add Participant Module Two")</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			@* <div class="card-header d-flex align-items-center">
				<h5 class="mb-0"></h5>
			</div> *@
			<div class="card-body">
				<form class="app-form" method="post" enctype="multipart/form-data" id="addForm">
					@if (Model != null && Model.ParticipantId_pk > 0)
					{
						@Html.HiddenFor(m => m.ParticipantId_pk)
					}
					<div class="row">
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.TypeofParticipantId, new { @class = "form-label d-block required-star" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.TypeofParticipantId, 1, new { @class = "form-check-input", id = "New" })
									<label class="form-check-label" for="New">New</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.TypeofParticipantId, 2, new { @class = "form-check-input", id = "Repeat" })
									<label class="form-check-label" for="Repeat">Repeat Customers</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.TypeofParticipantId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Location, new { @class = "form-label d-block required-star" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.Location, "1", new { @class = "form-check-input", id = "locationCamp" })
									<label class="form-check-label" for="locationCamp">Camp</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.Location, "2", new { @class = "form-check-input", id = "locationHome" })
									<label class="form-check-label" for="locationHome">Home Visit</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.CampId_fk, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.CampId_fk, new List<SelectListItem>(), "-- Select Camp --", new { @class = "form-control", @id = "CampId_fk", @disabled = "disabled" })
								<div>@Html.ValidationMessageFor(m => m.CampId_fk, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.DistrictId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), "-- Select District --", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.DistrictId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.BlockId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), "-- Select Block --", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.BlockId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.CLFId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.CLFId, new List<SelectListItem>(), "-- Select CLF --", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.CLFId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.PanchayatId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.PanchayatId, new List<SelectListItem>(), "-- Select Panchayat --", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.PanchayatId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.ParticipantName, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.ParticipantName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
								<div>@Html.ValidationMessageFor(m => m.ParticipantName, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.MobileNo, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "numbersOnly required form-control", @maxlength = "10" } })
								<div>@Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Age, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "numbersOnly required form-control", @maxlength = "2", @min = "35", @max = "59", @type = "text" } })
								<div>@Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.ScreeningDate, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.ScreeningDate, new { htmlAttributes = new { @class = "datepicker required form-control", @type = "text", @maxlength = "500" } })
								<div>@Html.ValidationMessageFor(m => m.ScreeningDate, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.SHGName, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.SHGName, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
								<div>@Html.ValidationMessageFor(m => m.SHGName, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.OccupationId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.OccupationId, new List<SelectListItem>(), "-- Select--", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.OccupationId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Occupation_Others, new { @class = "form-label" })
								@Html.EditorFor(m => m.Occupation_Others, new { htmlAttributes = new { @class = "required form-control", @disabled = "disabled", id = "Occupation_Others", @maxlength = "100" } })
							</div>
						</div>

						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.TypeofVisionIssueId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.TypeofVisionIssueId, new List<SelectListItem>
								{
								new SelectListItem { Text = "pyesMyopia", Value = "1" },
								new SelectListItem { Text = "Other", Value = "2" }
								}, "Select", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.TypeofVisionIssueId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.TypeofVisionIssue_Others, new { @class = "form-label" })
								@Html.EditorFor(m => m.TypeofVisionIssue_Others, new { htmlAttributes = new { @class = "required form-control", @disabled = "disabled", id = "TypeofVisionIssue_Others", @maxlength = "100" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.PowerofGlassId, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.PowerofGlassId, new List<SelectListItem>(),
																	"Select", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.PowerofGlassId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.VisionIssueIdentifiedId, new { @class = "form-label d-block required-star" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "1",
																		new { @class = "form-check-input", id = "VisionYes" })
									<label class="form-check-label" for="VisionYes">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.VisionIssueIdentifiedId, "2",
																		new { @class = "form-check-input", id = "VisionNo" })
									<label class="form-check-label" for="VisionNo">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.VisionIssueIdentifiedId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.GlassesSold, new { @class = "form-label d-block required-star" })

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.GlassesSold, "1",
																		new { @class = "form-check-input", id = "GlassesYes" })
									<label class="form-check-label" for="GlassesYes">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.GlassesSold, "0",
																		new { @class = "form-check-input", id = "GlassesNo" })
									<label class="form-check-label" for="GlassesNo">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.GlassesSold, "", new { @class = "text-danger" })</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.FollowupRequiredId, new { @class = "form-label d-block required-star" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.FollowupRequiredId, 1, new { @class = "form-check-input", id = "New" })
									<label class="form-check-label" for="New">Yes</label>
								</div>

								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.FollowupRequiredId, 2, new { @class = "form-check-input", id = "Repeat" })
									<label class="form-check-label" for="Repeat">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.FollowupRequiredId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.DigitalConsentId, new { @class = "form-label d-block required-star" })
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.DigitalConsentId, "1", new { @class = "form-check-input", id = "digitalConsentYes" })
									<label class="form-check-label" for="digitalConsentYes">Yes</label>
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m => m.DigitalConsentId, "2", new { @class = "form-check-input", id = "digitalConsentNo" })
									<label class="form-check-label" for="digitalConsentNo">No</label>
								</div>
								<div>@Html.ValidationMessageFor(m => m.DigitalConsentId, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.FeedbackonComfort, new { @class = "form-label required-star" })
								@Html.DropDownListFor(m => m.FeedbackonComfort, new List<SelectListItem>
								{
								new SelectListItem { Text = "Satisfied", Value = "1" },
								new SelectListItem { Text = "Not Satisfied", Value = "2" },
								new SelectListItem { Text = "Adjustment Needed", Value = "3" }
								},
																	"Select", new { @class = "form-control" })
								<div>@Html.ValidationMessageFor(m => m.FeedbackonComfort, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.GlassesCost, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.GlassesCost, new { htmlAttributes = new { @class = "numbersOnly required form-control", @type = "text", @min = "0", @max = "999", @maxlength = "3" } })
								<div>@Html.ValidationMessageFor(m => m.GlassesCost, "", new { @class = "text-danger" })</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.ScreeningCost, new { @class = "form-label required-star" })
								@Html.EditorFor(m => m.ScreeningCost, new { htmlAttributes = new { @class = "numbersOnly required form-control ", @maxlength = "3", @type = "text", @min = "0", @max = "999" } })
								<div>@Html.ValidationMessageFor(m => m.ScreeningCost, "", new { @class = "text-danger" })</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="mb-3">
								@Html.LabelFor(m => m.RemarksActionTaken, new { @class = "form-label" })
								@Html.EditorFor(m => m.RemarksActionTaken, new { htmlAttributes = new { @class = "required form-control", @maxlength = "500" } })
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								@Html.LabelFor(m => m.Availableglassinstock, new { @class = "form-label" })
								@Html.EditorFor(m => m.Availableglassinstock, new { htmlAttributes = new { @class = "numbersOnly form-control", @type = "text", @maxlength = "10", @step = "0.01", @disabled = "disabled" } })
							</div>
						</div>
						<div class="col-12">
							<div class="text-end">
								<button class="btn btn-primary b-r-22" type="submit">
									@(Model != null && Model.ParticipantId_pk > 0 ? "Update" : "Submit")
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
		@if (Model != null && Model.ParticipantId_pk > 0)
		{
			<text>
																// Store values to bind (edit mode)
																var campIdToBind = '@Model.CampId_fk';
				var occupationIdToBind = '@Model.OccupationId';
				var powerofGlassIdToBind = '@Model.PowerofGlassId';
				var districtIdToBind = '@Model.DistrictId';
				var blockIdToBind = '@Model.BlockId';
				var clfIdToBind = '@Model.CLFId';
				var panchayatIdToBind = '@Model.PanchayatId';
				var locationToBind = '@Model.Location';
				var typeofParticipantIdToBind = '@Model.TypeofParticipantId';
			</text>
		}

				// Initialize datepicker for ScreeningDate
				$("#ScreeningDate").datepicker({
					dateFormat: "dd-M-yy",
					maxDate: 0
				});

			GetOccupations("OccupationId");
			GetPowerofGlasses("PowerofGlassId");

			jQuery('.numbersOnly').keyup(function () {
				this.value = this.value.replace(/[^0-9\.]/g, '');
			});

			$("#DistrictId").change(function () {
				GetJSBlocks("BlockId", $(this).val());
				$('#BlockId').val();
			});

			$("#BlockId").change(function () {
				GetJSPanchayats("PanchayatId", $('#DistrictId').val(), $(this).val());
				GetJSFederations("CLFId", $('#DistrictId').val(), $(this).val());
				$('#PanchayatId').val(); $('#CLFId').val();
			});

			// Camp dropdown disable or enable based on Location
			function toggleCampDropdown() {
				let selectedLocation = $("input[name='Location']:checked").val();

				if (selectedLocation == "1") {
					// Camp location selected - enable Camp dropdown
					$("#CampId_fk").prop("disabled", false);

				} else {
					// Home Visit or no selection - disable Camp dropdown
					$("#CampId_fk").prop("disabled", true);
					$("#CampId_fk").val("");  // clear value if disabled
					$("#DistrictId").val("");
					$("#BlockId").val("");
					$("#CLFId").val("");
					$("#PanchayatId").val("");
				}
			}

			// On page load - set initial state first
			toggleCampDropdown();

			// Then populate the dropdown (function handles disabled state)
			// For ParticipantM2, TypeMId = 2 (Module 2)
			GetCampCode("CampId_fk", "", 2, 0);

			// On Location change
			$("input[name='Location']").change(function () {
				toggleCampDropdown();
			});

			// On Camp Code change - Auto populate District, Block, CLF, Panchayat
			$("#CampId_fk").change(function () {
				var campId = $(this).val();
				if (campId && campId !== '') {
					$.getJSON('/API/Masters/CampDetails?campId=' + campId, function (response) {
						if (response.status && response.data && response.data.length > 0) {
							var camp = response.data[0];
							var districtId = camp.districtId || 0;
							var blockId = camp.blockId || 0;
							var clfId = camp.clfId || 0;
							var panchayatId = camp.panchayatId || 0;

							if ($("#DistrictId option").length <= 1) {
								GetJSDistricts("DistrictId", 2);
							}

							setTimeout(function () {
								if (districtId > 0) {
									$("#DistrictId").val(districtId).trigger('change');
									setTimeout(function () {
										if (blockId > 0) {
											$("#BlockId").val(blockId).trigger('change');
											setTimeout(function () {
												if (panchayatId > 0) $("#PanchayatId").val(panchayatId);
												if (clfId > 0) $("#CLFId").val(clfId);
											}, 500);
										}
									}, 500);
								}
							}, 500);
						}
					}).fail(function () {
						if (typeof toastr !== 'undefined') {
							toastr.error('Failed to load camp details');
						}
					});
				} else {
					$("#DistrictId").val('');
					$("#BlockId").val('').empty().append('<option value=""></option>');
					$("#CLFId").val('').empty().append('<option value=""></option>');
					$("#PanchayatId").val('').empty().append('<option value=""></option>');
				}
			});

			// GetOccupations Disable
			function toggleOtherOccupation() {
				var selectedValue = $("#OccupationId").val();

				if (selectedValue == "6") {   // 6 = Other
					$("#Occupation_Others").prop("disabled", false);
				} else {
					$("#Occupation_Others").prop("disabled", true).val('');
				}
			}

			// run on dropdown change
			$("#OccupationId").change(function () {
				toggleOtherOccupation();
			});

			// run on page load (important for Edit page)
			toggleOtherOccupation();

			// Get Type of vision issue Disable
			function toggleOtherTypeofvision() {
				var selectedValue = $("#TypeofVisionIssueId").val();

				if (selectedValue == "2") {   // 6 = Other
					$("#TypeofVisionIssue_Others").prop("disabled", false);
				} else {
					$("#TypeofVisionIssue_Others").prop("disabled", true).val('');
				}
			}

			// run on dropdown change
			$("#TypeofVisionIssueId").change(function () {
				toggleOtherTypeofvision();
			});

			//check Screening cost always > glass cost

			$("#ScreeningCost").on("keyup change", function () {
				var glass = parseInt($("#GlassesCost").val()) || 0;
				var screen = parseInt($(this).val()) || 0;

				if (screen <= glass) {
					$("#ScreeningCost-error").remove();
					$("<span id='ScreeningCost-error' class='text-danger'>Screening Cost must be greater than Glasses Cost</span>")
						.insertAfter("#ScreeningCost");
				} else {
					$("#ScreeningCost-error").remove();
				}
			});

			//count Available Stock
			$("#PowerofGlassId").change(function () {
				loadAvailableGlassStock();
			});

			function loadAvailableGlassStock() {
				var typeOfModuleId = 2;
				var powerOfGlassId = $("#PowerofGlassId").val();

				if (typeOfModuleId && powerOfGlassId) {

					$.getJSON("/GlassesMst/GetAvailableGlassStock", {
						typeOfModuleId: typeOfModuleId,
						powerOfGlassId: powerOfGlassId
					})
						.done(function (response) {
							if (response.status && response.data) {
								$("#Availableglassinstock").val(response.data.availableStock || 0);
							}
						})
						.fail(function () {
							$("#Availableglassinstock").val(0);
						});

				} else {
					$("#Availableglassinstock").val("");
				}
			}


			//Post sumbitted Data
			$('#addForm').on('submit', function (e) {
				e.preventDefault(); // <- prevent normal form post
				var isvalid = $('#addForm').valid();
				if (!$('#addForm').valid()) {
					return; // Invalid form, stop submission
				}
				var form = $('#addForm')[0];
				var formData = new FormData(form);
				$.ajax({
					url: '/ParticipantM2/Create',
					type: 'POST',
					data: formData,
					processData: false, // Important for files
					contentType: false, // Important for files
					success: function (response) {
						if (response.isSuccess === true) {
							toastr.success(response.message);

							// Check if it's an update (ParticipantId_pk > 0)
							var participantId = $('#ParticipantId_pk').val();
							if (participantId && participantId !== '0' && participantId !== '') {
								// Redirect to Index page after update
								setTimeout(function () {
									window.location.href = '/ParticipantM2/Index';
								}, 1500);
							} else {
								// For create, just reset the form
								$('#addForm')[0].reset();
							}
						} else {
							toastr.error(response.message);
						}
					},
					error: function (xhr) {
						toastr.error(xhr.message);
					}
				});
			});
		});
	</script>
}